*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
.wrapper{
  position: relative;
}
.window{
  width: 400px;
  height: 300px;
  margin:20px auto;
  overflow: hidden;

}
.images{
  position: relative;
}
.images>img{
  transition: all 0.5s;
  position: absolute; 
  top:0;
}

.images>img.current{
  transform: translateX(0);
  z-index:1;
}

.images>img.leave{
  transform: translateX(-100%);
  z-index:1;
}

.images>img.enter{
  transform: translateX(100%)
}
.buttons{
  text-align: center;
  position: absolute;
  left: 708px;
  top:300px;

}




















